
    /*
      misc styles, nothing to do with CSS variables
    */

    body, a {
      text-align: center;
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
      padding: 2fr;
    }

    .controls {
      margin-bottom: 50px;
    }

    input {
      width: 100px;
    }
